.ing{
    color: red;
    font-weight: bold;
    margin: 10px;
}

.mole, .tacos{
    background-color: navy;
    color: yellow;
    padding: 20px;
    margin: 20px 20px;
}

.estrellas{
    color: yellow;
}

.mole h2{
    color:aquamarine;
}

.tacos h2{
    color: greenyellow;
}
